@font-face {
    font-family: "siyuan";
    src: url('./SourceHanSansSC-Bold-2.otf');
}

* {
    font-family: "siyuan";
}

#board {
    width: 500px;
    height: 500px;
    background-color: #bbada0;
    margin: auto;
    position: relative;
    top: calc((100vh - 500px) / 2);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px gray;
}

#board ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#board li {
    width: 106px;
    height: 106px;
    background-color: #cdc1b4;
    margin-right: 15px;
    float: left;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    line-height: 106px;
}

#board li:last-child {
    margin: 0;
}
